@tailwind base;
@tailwind components;
@tailwind utilities;


.menu {
    border: 2px solid black;
    padding: 20px;
}

.menu-title {
    text-align: center;
    margin-bottom: 20px;
}

.menu-title-image {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%; /* Adjust this as necessary to fit your design */
    height: auto;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-category {
    margin: 10px;
    width: 300px; /* Adjust the width as per your layout */
    /* Add bottom border to each category heading */
}

.category-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px; /* This will add space between items */
}

.item-name {
    font-weight: bold;
}

.item-description {
    font-size: 0.9em;
    color: #555;
}

.item-price {
    font-weight: 'bold';
    float: 'right';
}
